@import './mixins';


*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
  font-family: 'Open Sans', sans-serif;
}

a{
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  max-width: rem(1440);
  margin: 0 auto;
  position: relative;
  
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}