@import './mixins';


.root-section-productive {    
  margin-top: rem(164);    
  position: relative;
  background-color: $light-grayish-blue;

  @include media(tablet){
    margin-top: rem(90);    
  }
 
  &::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: rem(114);
    background-color: white;
    background-image: url(./images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;  
    
    @include media(rem(375)){
      background-image: url(./images/bg-curve-mobile.svg);
    }
  }
}

.root-section-productive .section-container{
  @include container;
  display: flex;
  justify-content: space-between;

  @include media(tablet){
    flex-direction: column-reverse;
  }  

  .content{
    margin-top: rem(178);
    margin-bottom: rem(107);
    width: 62.36%;
    padding-right: rem(88);

    @include media(tablet){
      width: 100%;
      margin-top: rem(87);
    }   

    @include media(mobile){
      padding-right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .title{
    @include media(mobile){
      width: 85%;     
    }
  }

  .paragraphs{
    margin-top: rem(38);
    max-width: rem(529);
    display: flex;
    flex-direction: column;
    gap: rem(16);

    @include media(mobile){
      margin-top: rem(24);
      text-align: center;
    }
  }

  .cta {
    margin-top: rem(15);
    display: inline-flex;
    gap: rem(8);
    height: rem(27);
    align-items: center;
    color: $moderate-cyan;
    border-bottom: 1px solid $moderate-cyan;

    @include media(mobile){
      margin-top: rem(36);
    }
  }

  .testimonial-card{
    margin-top: rem(45);
    padding: rem(26) rem(33);
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.0458843);
    border-radius: 5px;
    width: 100%;
    max-width: rem(356);

    @include media(mobile){
     padding: rem(21) rem(12) rem(18) rem(25);

    }
  }

  .tp-quote{
    margin-top: rem(10);
  }

  .person-figcaption{
    margin-top: rem(16);
    @include size(rem(137), rem(32));
    display: flex;
    gap: rem(8);
    align-items: center;

    .avatar {
      height: rem(32);
      width: auto;
      border-radius: 50%;
    }

    .data{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: rem(30);
    }

    .name {      
      font-weight: 700;
      font-size: rem(11);
      line-height: rem(15);
      letter-spacing: 0.55px;
      color: $very-dark-blue;
    }

    .job-title {
      font-size: rem(8);
      line-height: rem(15);
      letter-spacing: 0.4px;
    }
  }

  .bg-image-container{
    width: 37.64%;    
    margin-top: rem(202);

    @include media(tablet){
      width: 100%;
      margin-top: rem(93);
    }
  }

  .bg-image{
    width: 100%;
    padding-bottom: 75.46%;
    background-image: url(./images/illustration-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
  }

}